#index
  background-image: url(../img/blue-rollers.jpg)
  background-position: 50% 0%
  background-repeat: no-repeat
  background-size: cover
  min-height: 100vh

  & nav
    background: var(--brandGray)
    opacity: 0.8

  & h1
    color: var(--brandBlack)
    padding: 0 calc(50% - 384px)

    & span
      background: var(--brandGray)
      border-radius: 5px
      display: block
      opacity: 0.8
      padding: 1em

  & footer
    opacity: 0.5


 