#index
  background-image: url(../img/pipe.svg)
  background-position: 50% 50%
  background-repeat: repeat
  background-size: 1000px
  min-height: 100vh

  & h1
    color: var(--brandBlack)
    padding: 0 calc(50% - 384px)

    & span
      background: var(--brandGray)
      border-radius: 5px
      display: block
      padding: 1em


 