/*  ================ fonts ================ */

:root
  --fontFamily: Arial, Helvetica, sans-serif

/*  ================ colors ================ */
/*  ===== brand: colorhunt.co/c/70663 ====== */

:root
  --whiteSmoke: #f5f5f5
  --brandBlack: #282C37
  --brandClay: #9BAEC8
  --brandGray: #D9E1E8
  --brandBlue: #2B90D9